apiVersion: v1
kind: Service
metadata:
  name: dx02
  labels:
    app: dx02
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: dx02
